<nav class="primaryNav">
  <a href="/" class="logoHref">
    <div class="logo">
       <img src="/logo.png" class="logoPng">
     </div>
  </a>
  <% if (!locals.currentUser) { %>
    <div class="buttonsNav">
        <a href="/logIn"><button>Log in</button></a>
        <a href="/signUp"><button>Sign up</button></a>
    </div>
  <% } else { %>
    <div class="buttonsNav">
      <!-- <a href="logIn"><button>Log in</button></a> -->
      <a href="/logOut"><button>Log out</button></a>
  </div>
  <% } %>
</nav>