<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stroganov Drive | Error</title>
    <link rel="stylesheet" href="/mainPage.css">
</head>
<body>
  <% if (locals.errMsg) { %>
    <h1 class="errMsg"><%= locals.errMsg %></h1>
    <a class='errHref' href="/">Go to home?</a>
  <% } %>
</body>
</html>