<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stroganov Drive</title>
    <link rel="stylesheet" href="mainPage.css">
    <link rel="shortcut icon" type="image/x-icon" href="logoicon.png">
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <main>
        <section class="welcomeSection">
            <div class="welcomeSectionDiv">
                <h1>Welcome to my a very modest file storage.</h1>
                <p>&nbsp;Before using it I inform you that there are some aspects that may affect the correct operation. Good luck!</p>
              <ol>
                 <li>Max size file - 15 MB. Folders are not taken into account.</li>
                 <li>Don’t use VPN, may not give the correct result.</li> 
              </ol>
            </div>
            <div>
             <img src="cload.png" alt="" class="welcomePng">
            </div>
        </section>
    </main>
</body>
</html>