<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stroganov Drive | Sign Up</title>
    <link rel="stylesheet" href="mainPage.css">
    <link rel="shortcut icon" type="image/x-icon" href="logoicon.png">
</head>
<body>
    <%- include('partials/nav.ejs') %>
    <main>
        <section class="signUpSection">
            <form class="signUpForm" action="/signUp" method="POST">
                <h2 class="signUpLogo">Registration</h2>
                <%- include('partials/error.ejs') %>
                <label for="firstName">First name</label>
                 <input type="text" id="firstName" name="firstName" maxlength="20" required />
                <label for="lastName">Last name</label>
                 <input type="text" id="lastName" name="lastName" maxlength="20"  required />
                <label for="nickName">Nickname</label>
                 <input type="nickName" id="nickName" name="nickName" maxlength="20"  required />
                <label for="password">Password</label>
                 <input type="password" id="password" name="password" maxlength="25" required />
                <label for="confPassword">Confirm password</label>
                 <input type="password" id="confPassword" name="confPassword" minlength="8" maxlength="25" required />
                <button type="submit">Sign up</button> 
            </form>
        </section>
    </main>
</body>
</html>