.mainForAuth {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 87%
}

.explorer {
    box-shadow: 0 0 10px rgba(62, 0, 53, 0.6);
    clip-path: inset(0 -15px 0 0);
}

.uploadForm {
    margin-left: 1rem;
}

.divForBtnUploadAndCreate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 

.createFolderButton,
.uploadFileButton {
    display: flex;
    align-items: center;
    border: none;
    border: 1px solid rgb(201, 201, 201);
    background-color: rgb(73, 13, 130);
    transition: transform 0.2s;
    color: rgb(228, 216, 236);
    border-radius: 5px;
    width: 65%;
    padding: 5px 15px;
    margin-top: 1rem;
    font-size: 1rem;
    gap: 5px;
    cursor: pointer;
}

.createFolderButton:hover,
.uploadFileButton:hover {
    transform: translateY(-2px);
}

.createFolderButton:disabled,
.uploadFileButton:disabled {
    opacity: 0.6;
    cursor: auto;
}

.createFolderButton svg,
.uploadFileButton svg {
    fill: rgb(228, 216, 236);
    width: 1.5rem
}

.primaryFolders {
    display: flex;
    align-items: center;
    padding: 0 10px;
    margin-top: 1.2rem;
    margin-left: 1rem;
    gap: 1rem;
}

.primaryFoldersHref {
    text-decoration: none;
    font-size: 1.3rem;
    color: rgb(228, 216, 236);
}

.primaryFolders:hover {
    background-color: rgba(101, 29, 168, 0.3);
    border-radius: 40px;
    /* opacity: 0.7; */
}

.primaryFolders svg {
    width: 30px;
    fill: rgb(228, 216, 236);
}

.selectedPrimaryFolder .primaryFolders {
    background-color: rgb(83, 14, 148, 0.7);
    border-radius: 40px;
    /* opacity: 0.7; */
}


.subfolderDiv {
    display: flex;
    flex-direction: column;
    max-width: 100px;
    align-items: center;
    position: relative;
    width: max-content;
    height: max-content;
    margin: 10px;
}
.subfolderDiv p {
    max-width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.subfolderDiv svg {
    fill: rgb(178, 72, 249);
    width: 70px;
    margin: 0;
}

.subfolderDiv p {
    margin: 0;
    text-align: center;
    color: rgb(178, 72, 249);
}

.subfolderHref {
    display: block;
    width: max-content;
    height: max-content;
    margin: 1rem;
    text-decoration: none;
}

.subfolderHref:hover {
    background-color: rgb(75, 75, 75);
    opacity: 1;
    border-radius: 15%;
}

.foldersSection {
    display: flex;
    flex-wrap: wrap;
}

.primaryDivForSubFolder {
    height: max-content;
    width: max-content;
}

.primaryDivForSubFolder:hover .actionsSubFolder {
    visibility: visible;
}

.actionsSubFolder {
    display: flex;
    visibility: hidden;
    position: relative;
    top: 20px;
    justify-content: center;
    gap: 35px;
    margin: 0;
    margin-top: 40px;
    margin-right: 5px;
}

.actionsSubFolder button,
.buttonForCreateFolder button {
    background-color: rgb(60, 3, 112);
    color: rgb(228, 216, 236);
    font-size: 0.9rem;
    border: none;
    border-radius: 10px;
    transition: 0.1s background-color;
    padding: 1px 7px;
    cursor: pointer;
}

.actionsSubFolder svg {
    width: 0.9rem;
    fill: rgb(228, 216, 236);
}

.actionsSubFolder button:hover,
.buttonForCreateFolder button:hover {
    background-color: rgb(119, 119, 119);
}

.dialogForCreateFolder,
.dialogForUpdateFolder {
    background-color: rgb(83, 14, 148);
    border-radius: 20px;
    border: none;
    color: rgb(228, 216, 236);
}

.dialogForCreateFolder::backdrop,
.dialogForUpdateFolder::backdrop {
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
}

.dialogForCreateFolder h2,
.dialogForUpdateFolder h2 {
    font-size: 2.5rem;
    text-align: center;
    margin: 0;
}

.dialogForCreateFolder input,
.dialogForUpdateFolder input {
    font-size: 1.5rem;
    margin: 1rem;
    padding: 10px;
    border-radius: 10px;
}

.buttonForCreateFolder {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.dialogForCreateFolder button,
.dialogForUpdateFolder button {
    font-size: 1.5rem;
    padding: 5px 10px;
    cursor: pointer
}

.divFormRestoreFolder {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-right: 23px;
    gap: 20px;
}

.restoreFolderBtn {
    display: block;
    visibility: hidden;
    margin: auto;
    background-color: rgb(60, 3, 112);
    color: rgb(228, 216, 236);
    font-size: 0.7rem;
    padding: 2px 7px;
    border-radius: 10px;
    border: none;
    position: relative;
    z-index: 1;
    top: 1.2rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.restoreFolderBtn:hover {
    background-color: rgb(84, 25, 139);
}

.primaryDivForSubFolder:hover .restoreFolderBtn {
    visibility: visible;
}

.folderPath {
    position: absolute;
    color: rgb(228, 216, 236);
    top: 13%;
    left: 24%;
}

.folderPath a {
    color: rgb(227, 227, 227);
    border-bottom: 2px solid rgb(227, 227, 227);
    text-decoration: none;
    font-size: 1.5rem;
    transition: color 0.2s;
}

.folderPath a:hover {
    color: rgb(193, 193, 193);
}

.emptyDirectory {
    position: absolute;
    color: rgb(178, 72, 249);
    font-size: 2.3rem;
    top: 40%;
    left: 50%
}
.infoAboutFileDiv {
    display: none;
    position: absolute;
    background-color: rgb(72, 72, 72);
    width: 20%;
    right: 0;
    padding: 10px;
    top: 0;
    bottom: 0;
}
.infoAboutFileDiv h2 {
    color: rgb(234, 234, 234);
    font-size: 1rem;
    text-overflow: ellipsis;
    overflow: hidden;
}
.infoAboutFileDiv p {
    color: rgb(234, 234, 234);
    font-size: 1rem;
    text-overflow: ellipsis;
    overflow: hidden;
}
.visibleFileInfo {
  display: block;
}
.closeInfoAboutFile {
  display: flex;
  justify-self: end;
  background-color: rgb(60, 3, 112);
  color: rgb(228, 216, 236);
  width: max-content;
  transition: background-color 0.2s;
  padding: 2px 5px;
  font-size: 1rem;
  border-radius: 40%;
  cursor: pointer;
}
.closeInfoAboutFile:hover {
  background-color: rgb(84, 25, 139);
}