body {
    margin: 0;
    background-color: rgb(223, 223, 223);
}
.primaryNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 1px 10px rgba(62, 0, 53, 0.6);
}
.logoSvgPart {
    width: 3.5rem;
    fill: rgb(102, 0, 165);
    margin: 0;
    margin-left: 1rem;
}
.logo {
    display: flex;
    align-items: center;
    font-family: serif;
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 0.2rem;
    text-shadow:  1px 1px rgb(76, 1, 95);
    user-select: none;
    -webkit-user-select: none;
}
.logoHref {
    text-decoration: none;
}
.logo h1 {
    margin: 1.4rem 0;
    font-weight: 500;
    color: rgb(76, 1, 95)
}

.buttonsNav {
    display: flex;
    margin-right: 3rem;
    gap: 30px;
}

.buttonsNav button {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    background-color: rgb(83, 14, 148);
    color: white;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s;
}

.buttonsNav button:hover {
    transform: translateY(-1px);
}
.signUpSection {
    display: flex;
    justify-content: center;
    margin-top: 7rem;
    margin-bottom: 3rem;
}

.signUpForm {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 30px rgba(60, 0, 74, 0.4);
    max-width: 400px;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
}

.signUpForm label {
  font-size: 2rem;
  letter-spacing: 1px;
  color: rgb(51, 0, 63)
}

.signUpForm input {
    border-radius: 10px;
    padding: 2px 10px;
    font-size: 2rem;
}
.signUpForm button {
    background-color: rgb(83, 14, 148);
    color: white;
    border: 1px solid rgb(202, 202, 202);
    font-size: 1.4rem;
    padding: 10px;
    margin-top: 1rem;
    border-radius: 10px;
    transition: transform 0.2s;
    cursor: pointer;
}
.signUpForm button:hover {
    transform: translateY(-1px);
}
.signUpLogo {
    font-size: 2.5rem;
    margin: 2rem;
    margin-top: 0;
    color: rgb(76, 1, 95);
    letter-spacing: 1px;
}

