.mainForAuth {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 87%
}
.explorer {
    box-shadow: 0 0 10px rgba(62, 0, 53, 0.6);
    clip-path: inset(0 -15px 0 0);
}
.uploadForm {
    margin-left: 1rem;
}
.createFolderButton {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    background-color: rgb(83, 14, 148);
    color: rgb(228, 216, 236);
    border-radius: 30px;
    padding: 5px 15px;
    margin-top: 1rem;
    font-size: 1rem;
    gap: 5px;
    cursor: pointer;
}
.createFolderButton span{
    font-size: 2.5rem;
}
.primaryFolders {
    display: flex;
    align-items: center;
    padding: 0 10px;
    margin-top: 1.2rem;
    margin-left: 1rem;
    gap: 1rem;
}
.primaryFoldersHref {
    text-decoration: none;
    font-size: 1.3rem;
    color: rgb(228, 216, 236);
}
.primaryFolders:hover {
    background-color: rgba(101, 29, 168, 0.3);
    border-radius: 40px;
    /* opacity: 0.7; */
}
.primaryFolders svg {
    width: 30px;
    fill: rgb(228, 216, 236);
}

.selectedPrimaryFolder .primaryFolders {
    background-color: rgb(83, 14, 148, 0.7);
    border-radius: 40px;
    /* opacity: 0.7; */
}


.subfolderDiv {
   position: relative;
   width: max-content;
   height: max-content;
   margin: 10px;
}
.subfolderDiv svg {
  fill: rgb(178, 72, 249);
  width: 70px;
  margin: 0;
}
.subfolderDiv p {
    margin: 0;
    text-align: center;
    color: rgb(178, 72, 249);
}
.subfolderHref {
    display: block;
    width: max-content;
    height: max-content;
    margin: 1rem;
    text-decoration: none;
}
.subfolderHref:hover {
    background-color: rgb(75, 75, 75);
    opacity: 1;
    border-radius: 15%;
}
.foldersSection {
    display: flex;
    flex-wrap: wrap;
}
.primaryDivForSubFolder {
    height: max-content;
    width: max-content;
}
.primaryDivForSubFolder:hover .actionsSubFolder {
    visibility: visible;
}
.actionsSubFolder {
    display: flex;
    visibility: hidden;
    position: relative;
    top: 15px;
    justify-content: center;
    gap: 10px;
    margin-right: 5px;
}
.actionsSubFolder button{
    padding: 0;
    background: none;
    border: 0;
    cursor: pointer;
    font-size: 1.5rem;
    color: rgb(228, 216, 236);
}
.actionsSubFolder svg{ 
    width: 1.5rem;
    fill: rgb(228, 216, 236);
}
.actionsSubFolder button:hover{
    background-color: rgb(119, 119, 119);
}
.dialogForCreateFolder {
    z-index: 1;
}