body {
    margin: 0;
    background-color: rgb(51, 51, 51);
    height: 100vh;
}
.primaryNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 1px 10px rgba(62, 0, 53, 0.6);
    height: 13%;
}
.logoPng {
    margin-top: 0.5rem;
    margin-left: 1rem;
    max-width: 200px;
    pointer-events: none;
}
.logo {
    user-select: none;
}

.buttonsNav {
    display: flex;
    margin-right: 3rem;
    gap: 30px;
}

.buttonsNav button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    background-color: rgb(83, 14, 148);
    color: white;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 1px;
    transition: transform 0.2s;
}

.buttonsNav button:hover {
    transform: translateY(-1px);
}
.signUpSection {
    display: flex;
    justify-content: center;
    margin-top: 7rem;
    margin-bottom: 3rem;
}

.signUpForm {
    display: flex;
    flex-direction: column;
    /* box-shadow: 0 0 30px rgba(234, 141, 255, 0.4); */
    max-width: 400px;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
}

.signUpForm label {
  font-size: 2rem;
  margin-top: 1.5rem;
  letter-spacing: 1px;
  color: rgb(196, 101, 255);
}

.signUpForm input {
    border-radius: 10px;
    padding: 2px 10px;
    font-size: 2rem;
}
.signUpForm button {
    background-color: rgb(83, 14, 148);
    color: white;
    border: 1px solid rgb(202, 202, 202);
    font-size: 1.4rem;
    padding: 10px;
    margin-top: 1rem;
    border-radius: 10px;
    transition: transform 0.2s;
    cursor: pointer;
}
.signUpForm button:hover {
    transform: translateY(-1px);
}
.signUpLogo {
    font-size: 2.5rem;
    margin: 0;
    margin-top: 0;
    color: rgb(196, 101, 255);
    letter-spacing: 1px;
}

.errMsg {
    text-align: center;
    color: rgb(178, 76, 241);
}
.errHref {
  display: block;
  text-align: center;
  font-size: 1.3rem;
  color: rgb(204, 148, 239);
}